*{
    margin:0;
    padding:0;
}
body{
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
}
section{
    height: 100vh;
    width:100vw;
}
.mua_hang{
    display:flex;
    justify-content:space-between;
}
section>div{
    width:100vw;
    height:20%;
}
footer{
    display:flex;
    justify-content:space-evenly;
    color:aliceblue;
    background-color:#00B2BF;
}